html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
	width: 12px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
	background: linear-gradient(#1c4d84, #0e3259, #1c4d84);
	border-radius: 20px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}


  
:root {
    --primary: #1c4d84;
    --sec: #d16f0c;
    --text: #5e5e5e;
    --lighttext: #919191;
    --hr: #2b2b2b;
	--white: #fff;
}

img, svg, button, iframe, video {
	user-select: none !important;
}

body *::selection {
	background-color: var(--primary) !important;
	color: white;
}

h1, h2, h3, h4, nav ul li a, header a {
	font-family: 'Jura' !important;
}

span, p, h5, h6, b, a {
    font-family: 'Manrope' !important;
}

@media (min-width: 768px) { /*sm*/
	
}

@media (min-width: 992px) { /*md*/
    .parallax-wrap-a {
		padding:0
	};
}

@media (min-width: 1200px) { /*lg*/
      
}

@media (min-width: 1500px) { /*xl*/
      
}

a {
	outline: none !important;
	text-decoration: none !important;
}

button {
	outline: none !important;
	border: none !important;
}

ul.navmenu li a {
	color: white;
	transition: color 250ms ease-in-out;
}

ul.navmenu li a:hover {
	color:  #ffcf06;
	transition: color 250ms ease-in-out;
}

ul.navmenu li a::after {
	display: block;
	content: '';
	border-bottom: solid 2px;
	border-color: #ffcf06;
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out, border-color 250ms ease-in-out;
}

ul.navmenu li a.fromLeft:not(ul.navmenu li a.fromLeft:target):hover::after {
	transform: scaleX(1); transform-origin: 0% 50%;
}

ul.navmenu li a.fromLeft::after {
	transform-origin:  100% 50%;
}


#video > .container-fluid:first-child {
	height: 100vh;
}

#video .container-fluid:first-child::before {
	content:'';
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(10, 59, 114, 1), rgba(28, 77, 132, 0.5),  rgba(28, 77, 132, 0.5), rgba(28, 77, 132, 0.5), rgba(28, 77, 132, 0.5),rgba(28, 77, 132, 0.5), rgba(28, 77, 132, 0.5),rgba(28, 77, 132, 0.5), rgba(28, 77, 132, 0.5));
}



/* Sticky Navbar */

#scroll-top.inactive {
	opacity: 0%;
	transition: opacity 0.5s ease-in-out;
}

#scroll-top.active {
	opacity: 100%;
	transition: opacity 0.5s ease-in-out;
}

/* Style the navbar */
#navbar {
	overflow: hidden;
	background-color: transparent;
	transition: background 0.3s ease-in-out;
}

#mobile-navbar {
	overflow: hidden;
}
  
 /* The sticky class is added to the navbar with JS when it reaches its scroll position */
#navbar.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(28, 77, 132, 0.8);
	backdrop-filter: blur(6px);
	transition: background 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
 }

#navbar ul li a.sticky {
	color: #1c4d84;
	transition: 0.3s ease-in-out;
}

#navbar ul li a:target {
	color: #ffcf06 !important;
}

/* #navbar.sticky ul.navmenu li a::after {
	border-color: #1c4d84;
	transition: transform 250ms ease-in-out, border-color 250ms ease-in-out;
} */

#mobile-navbar.sticky {
	position: fixed;
 }

#navbar #logo {
	margin-left: 50px;
}

#logo img {
	height: 71.99px;
}

@media (max-width: 1090px) {
	#navbar #logo {
		margin-left: 0px;
	}
}

#video {
	padding-top: 0;
	transition: padding-top 0.3s ease-in-out;
}

#video {
	height: 100vh !important;
}

#video video {
	object-fit: cover !important;
	height: 100vh !important;
}

#navbar.sticky + #video {
	padding-top: 80px;
	transition: padding-top 0.3s ease-in-out !important;
}

.read-more {
	padding: 20px;
	border: 1px solid var(--primary);
	display: inline;
	max-width: 420px;
	margin: 50px 0 -50px 0;
	text-align: center;
	color: white;
	background: linear-gradient(to right, #d16f0c, #e5a80e);
	clip-path: polygon(6% 10%, 100% 10%, 95% 90%, 0 90%);
	transition: background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.read-more:hover {
	background: linear-gradient(to right, lightblue, white);
	box-shadow: 0px 0px 0 0 var(--primary);
	color: var(--primary);
	/* transition: background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; */
}

.read-more-2 {
	padding: 15px 20px;
	border: 1px solid var(--sec);
	border-radius: 6px;
	display: inline;
	max-width: 420px;
	margin: 50px 0 -50px 0;
	text-align: center;
	color: var(--primary);
	background-color: #ffcf06;
	transition: background 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.read-more-2:hover {
	background-color: white;
	border-color: white;
	box-shadow: 0px 0px 0 0 var(--primary);
	color: var(--primary);
	transition: background 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}



#header-description {
	color: #d8ebff !important;
	background-color: rgba(255,255,255,0.2);
	backdrop-filter: blur(3px);
	border-radius: 10px;
}



/* MOBILE NAVBAR */

#burger-menu {
	display: none !important;
}

@media (max-width: 1090px) {
	ul.navmenu {
		display: none !important;
	}

	#burger-menu {
		display: flex !important;
	}

	#mobile-navmenu {
		width: 70%;
		margin-right: 0 !important;
	}

	#mobile-navmenu, #mobile-navmenu li, #mobile-navmenu li a {
		display: block !important;
	}
}

#mobile-navbar {
	z-index: 10;
}

#mobile-navbar {
	height: 100vh;
	background-color: rgba(255,255,255,0.8);
	backdrop-filter: blur(6px);
}

#mobile-navbar.inactive {
	width: 0;
	transition: width 0.2s cubic-bezier(0.89, 0.37, 1, 1) !important;
}

#mobile-navbar.active {
	width: 320px;
	transition: width 0.2s cubic-bezier(0.89, 0.37, 1, 1) !important;
}

#mobile-navmenu li a {
	color: var(--primary);
}

#burger-menu {
	z-index: 2;
}

#burger-menu:hover {
	cursor: pointer;
}


#burger-menu .line {
	height: 4px !important;
	width: 32px !important;
	transform-origin: 0% 50% !important;
}

#burger-menu .line:nth-of-type(1).inactive, #burger-menu .line:nth-of-type(3).inactive {
	transform: rotate(0deg);
	transition: transform 0.3s ease-in-out;
}

#burger-menu .line:nth-of-type(2).inactive {
	opacity: 100%;
	transform: scale(1);
	transform-origin: 50% 50% !important;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#burger-menu .line:nth-of-type(1).active {
	transform: rotate(45deg);
	width: 30px !important;
	transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

#burger-menu .line:nth-of-type(3).active {
	transform: rotate(-45deg);
	width: 30px !important;
	transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}


#burger-menu .line:nth-of-type(2).active {
	transform: scale(0);
	opacity: 0;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}



/* SCROLL TO TOP */

#scroll-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 60px;
	height: 60px;
	background-color:var(--primary);
	border-radius: 50%;
	border: 1px solid var(--primary);
	background-image: url('images/back_to_top.png');background-repeat: no-repeat;
	background-position: center;
	z-index: 1500;
	box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.2);
	transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#scroll-top:hover {
	background-color: #0e3259;
	border-color: var(--primary);
	transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#headtitles > div > div.col-6.sm-col-12 {
	padding-left: 80px !important;
}

#headtitles h1 {
	text-shadow: 1px 1px 8px black;	
}

@media (max-width: 1090px) {
	#headtitles > div {
		flex-direction: column;
	}

	#headtitles > div > div.col-6.d-flex.flex-column.align-items-center {
		padding: 0 !important;
		width: 90%;
	}

	#headtitles > div > div.col-6.ps-5 {
		width: 90% !important;
		padding: 0 !important;
		margin-bottom: 50px !important;
	}

	#headtitles > div > div.col-6.sm-col-12 {
		padding-left: 0px !important;
		margin-bottom: 50px;
		width: 90%;
	}
}




/* INFO SECTION */

#info-section {
	height: 1200px;
}

@media (min-width: 992px) {
	
	#info-section {
		height: 600px;
	}

	.icon-info {
		border-right: 1px solid #d16f0c3d;
	}
}

#info > div:nth-of-type(2) img {
	transform: scale(.8);
}

#info > div:nth-of-type(2):hover img {
	transform: translateY(-10px) scale(.8);
	transition: all 0.25s ease-in-out;
}


#info > div img {
	transform: translateY(0);
	transition: all 0.25s ease-in-out;
}

#info > div:hover img {
	transform: translateY(-10px);
	transition: all 0.25s ease-in-out;
}

#info > div:nth-of-type(3) img {
	transform-origin: 50% 50% !important;
	transform: translateY(0) rotate(0deg);
	transition: all 0.25s ease-in-out;
}

#info > div:nth-of-type(3):hover img {
	transform: translateY(-10px) rotate(-180deg);
	transition: all 0.25s ease-in-out;
}

#info > div > h2 {
	color: var(--primary);
}





 /* BUTTON SECTION  */


#button-section {
	background: linear-gradient(45deg, var(--primary), #0e3259);
}

#button-section {
	height: 950px;
}

@media (min-width: 992px) {
	
	#button-section {
		height: 650px;
	}
}

#button-section h2 {
	text-shadow: 1px 1px 8px var(--primary);
}

#button-section img {
	width: 520px;

	border-top-left-radius: 200px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 200px; 
	border-bottom-left-radius: 20px; 
}

@media (max-width: 992px) {
	#button-section img {
		width: 380px;
	}
}


/* GALLERY SECTION */

#gallery-section {
	height: 900px;
}